<form method="post" name="registeruser">
    <p><b>Регистрация на сайте</b></p>
    <p><input type="text" name="Username-text" required placeholder="username"></p>
    <p><input type="email" name="Email-text" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></p>
    <p><input type="tel" name="tel" placeholder="telephone-number" required></p>
    <p><input type="color" name="color" placeholder="color" required></p>
    <p><input type="password" name="Password-text-first" placeholder="enter password" required></p>
    <p><input type="password" name="Password-text-second" placeholder="re-enter password" required></p>
    <p><input type="submit" value="Регистрация"></p>
</form>