<tr>
    <td><?php echo $arr['id']?></td>
    <td><input type="text" required value="<?php echo htmlspecialchars($arr['username'])?>"</td>
    <td><input type="text" required value="<?php echo htmlspecialchars($arr['email'])?>"</td>
    <td><input type="text" required value="<?php echo htmlspecialchars($arr['tnumber'])?>"</td>
    <td><input type="text" required value="<?php echo htmlspecialchars($arr['color'])?>"</td>
    <td><input type="text" required value="<?php echo htmlspecialchars($arr['password'])?>"></td>
</tr>